.form-update_user {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 0 auto;
    background-color: #f9f9f9;
    margin-bottom: 20px;
}

.form-update_user h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-update_user div {
    margin-bottom: 10px;
}

.form-update_user div label {
    width: 100px;
}

.form-update_user div input {
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form-update_user input:focus {
    outline: none;
}

.form-update_user button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin: 10px 10px 10px 0px;
}
